.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #34d7ec, #020202);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 12px;
  width: 420px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  background: #117aaa;
  border: none;
  color: white;
  padding: 12px 18px;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  background: #117aaa;
  transform: scale(1.05);
}
p {
  font-size: 18px;
  margin-top: 20px;
  color: #333;
  transition: opacity 0.3s ease;
}
.joke {
  font-size: 18px;
  margin: 20px 0;
  color: #333;
}
.reactions {
  margin-top: 20px;
}